#play{
    background-color: rgb(212, 165, 121);
    border: 2px dashed rgb(195, 64, 64);
    border-radius: 10px;
    
    
}
.flex{
    display: flex;
    justify-content: center;
}
#risultatohtml{
    background-color: rgb(150, 255, 127);
    border-radius: 10px;
    border: 2px dashed greenyellow;
}